

.showDescription {
    text-align: left;
}

.logo {
    max-width: 800px;
}

.artistList {
    list-style-position: inside;
    padding: 0;
    list-style-type: none;
  }

  .elementalsContent {
      color: #FFF;
  }